# dumps from original Microsoft files
/vmm/dump*.bin
*_dump.bin

#release bins
/release/

# tests
/test/

# syncthing
/.stfolder/
/.stignore

# not include MS bins and incomplete work
/rloew/dump/
/rloew/conv/

# python
__pycache__
*.pyc

# generated and temporary files
/doc/tmp/
*.o
*.bak
*.backup
*.tmp
*.gen
*.exe
*.res

# bins
makepatch
bindiff
patcher9x
