# dumps from original Microsoft files
/vmm/dump.bin
/vmm/dump_v2.bin
/vmm/dumpme.bin
*_dump.bin

#release bins
/release/

# tests
/test/

# syncthing
/.stfolder/
/.stignore

# python
__pycache__
*.pyc

# generated and temporary files
/doc/tmp/
*.o
*.bak
*.gen
*.exe
